body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    transition: background 0.5s, color 0.5s;
  }
  
:root{
  background-color: #0e1419;;
}
  .dark {
    background-color: #0e1419;
    color: #f5f5f5;
  }
  
 
/* Basic styling for the Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjusted padding */
  background-color: #333;
  color: #50fa7b;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar h2 {
  margin: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 60px;
}

.navbar a {
  color: #7ce9fd;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Hide the menu button on larger screens */
.menu-button {
  display: none;
}

/* Media query for smaller screens */
@media (max-width: 1024px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar li {
    margin: 10px 10px 10px 0;
  }

  .menu-button {
    display: block;
    background-color: #333;
    color: white;
    border: none;
    padding: 20px;

    cursor: pointer;
  }

  /* Show the Navbar items when the button is clicked */
  .navbar ul.show {
    display: flex;
  }
}
  .profile-photo {
    border-radius: 40%;
    width: 200px;
    height: 200px;
    /*make the image to fill the space */
    object-fit: cover;
    float: left;
    margin: 20px 20px 20px 0;

  }
  
  .projects, .resume, .education {
    padding: 50px;
    text-align: center;
  }
  

  .download-btn {
    padding: 10px 20px;
    background-color: aqua;
    color: black;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .footer {
    position: relative;
    bottom: 1em;
    right: 1em;
    text-align: right;
    padding: 20px;
    background-color: #1f1f1f;
  }
  
  .project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;

  }

  
  .project-item {
    max-width: 800px;
    background-color: #253340;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    row-gap: 10px;
    column-gap: 40px;
    margin-bottom: 20px;
   
  }
  .project-title{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 2;
    color: #50fa7b;
    font-size: 1.5em;
  }
  

  
  .project-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:3;
    aspect-ratio: 4/3;
    max-width:300px;
    max-height: 300px;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-left: 1rem;
    object-fit: fill;
    /*smooth transition when hover */
    transition: transform 0.3s ease;
  }
  .project-image:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .project-description{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: justify;

  }
  
  
  .project-item ul {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .project-item ul li {
    background-color: #7ce9fd;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    font-size: 12px;
  }
  
  .about-me {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 5em;
  text-align: justify;
    background-color: #253340;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: rgb(244, 247, 247);
    
}
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff79bc;
}
h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ff79bc;
}

/* Media query for smaller screens */
@media (max-width: 1024px) {
  .project-list {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between project items */
  }

  .project-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px; /* Space between image and description */
  }

  .project-image {
    width: 200px; /* Make the image take full width */
    height: auto; /* Maintain aspect ratio */
  }

  .project-description {
    text-align: center; /* Center the text for better appearance */
  }
}
  
.footer{
    display:right;

}
.linkedin_img{
    width: 40px;
    margin: 10px;
    margin: 20px 20px 20px 0;
    color: white;
}
.github_img{
    width: 40px;
    margin: 10px;
    margin: 20px 20px 20px 0;
    color: white;
}

/* EDUCATION */
.edu-item ul li {
list-style: none;
}
.edu-item h3 {
color: #50fa7b;
text-align: center;
}
.degree { 
color: #7ce9fd;
}

/* Experience */
.exp-item  h3{ 
color: #50fa7b;
}
.experience{
  text-align: center;
}
